@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.lawyers-app {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgb(30, 30, 30);
}

.lawyers-header {
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 0;
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    z-index: 100;
}

.lawyers-header > p {
    line-height: 10vh;
    text-indent: 2vh;
    font-size: 2.2vh;
    font-weight: 600;
    margin: 0;
    letter-spacing: 0.1vh;
}

.lawyers-header > span {
    position: absolute;
    top: 6.5vh;
    left: 2vh;
    font-size: 1.1vh;
    color: rgba(255, 255, 255, 0.6);
}

.lawyers-list {
    position: absolute;
    width: 100%;
    height: 78%;
    top: 11vh;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 2vh;
}

.lawyers-list::-webkit-scrollbar {
    display: none;
}

/* --- STYLE HEADER KATEGORI --- */
.service-header {
    width: 92%;
    margin: 1.5vh auto 0.5vh auto;
    padding: 0.8vh 1.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    font-weight: 600;
    color: white;
    border-radius: 0.5vh;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* --- STYLE ITEM PEMAIN --- */
.lawyer-list {
    position: relative;
    width: 92%;
    height: 6vh; /* Tinggi item */
    margin: 0.5vh auto;
    background: rgba(45, 45, 45, 0.6);
    border-radius: 0.5vh;
    transition: 0.1s;
    border-left: 3px solid transparent; /* Aksen kiri */
}

.lawyer-list:hover {
    background: rgba(60, 60, 60, 0.8);
}

.lawyer-list-firstletter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1vh;
    width: 4vh;
    height: 4vh;
    line-height: 3.8vh; /* Center vertical */
    text-align: center;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8vh;
    background: rgba(0,0,0,0.2);
}

.lawyer-list-fullname {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    color: white;
    max-width: 18vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lawyer-list-call {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5vh;
    font-size: 1.8vh;
    cursor: pointer;
    transition: 0.2s;
}

.lawyer-list-call:hover {
    transform: scale(1.2);
}

.no-lawyers {
    width: 92%;
    margin: 0 auto 1.5vh auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vh;
    color: rgba(255, 255, 255, 0.4);
    padding: 1vh;
    border: 1px dashed rgba(255, 255, 255, 0.1);
    border-radius: 0.5vh;
}